<!doctype html>
<html lang="en" class="h-100">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.88.1">
    <title>NovelMetaData API</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/cover/">



    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- Favicons -->
    <link rel="apple-touch-icon" href="/docs/5.1/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
    <link rel="icon" href="/docs/5.1/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="/docs/5.1/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
    <link rel="manifest" href="/docs/5.1/assets/img/favicons/manifest.json">
    <link rel="mask-icon" href="/docs/5.1/assets/img/favicons/safari-pinned-tab.svg" color="#7952b3">
    <link rel="icon" href="/docs/5.1/assets/img/favicons/favicon.ico">
    <meta name="theme-color" content="#7952b3">


</head>

<body class=" h-100 text-center text-white bg-dark">

    <div class="cover-container  w-100 h-100 p-3 mx-auto flex-column">
        <header class="mb-auto">
            <div>
                <h3 class="float-md-start mb-0">NovelMetaData</h3>
                <nav class="nav nav-masthead justify-content-center float-md-end">
                    <a class="nav-link active text-warning" aria-current="page" target="_blank"
                        href="https://bitbucket.org/BlackSmithOP/novelmetadata/src/main/">Source</a>
                </nav>
            </div>
        </header>
        <div class="container">
            <img src={{data.cover}} class="img-thumbnail" alt="novel cover" style="height: 300px; width: 300px;">
            <h3 class="float-md-mid py-2">{{data.name}}</h3>

            <main class="px-3">
                <div class="container-fluid">
                    <table class="table">
                        <tbody>
                            <tr class="table-light d-flex justify-content-center">
                                <th class="col-5 col-sm-3 col-md-2">Author</th>
                                <td class="col-5 col-sm-3 col-md-2">{{data.author}}</td>
                            </tr>
                            <tr class="table-light d-flex justify-content-center">
                                <th class="col-5 col-sm-3 col-md-2">Genre(s)</th>
                                <td class="col-5 col-sm-3 col-md-2">{{data.genre}}</td>
                            </tr>
                            <tr class="table-light d-flex justify-content-center">
                                <th class="col-5 col-sm-3 col-md-2">Release</th>
                                <td class="col-5 col-sm-3 col-md-2">{{data.release}}</td>
                            </tr>
                            <tr class="table-light d-flex justify-content-center">
                                <th class="col-5 col-sm-3 col-md-2">Status</th>
                                <td class="col-5 col-sm-3 col-md-2">{{data.status}}</td>
                            </tr>
                            <tr class="table-light d-flex justify-content-center">
                                <th class="col-5 col-sm-3 col-md-2">Tags</th>
                                <td class="col-5 col-sm-3 col-md-2">{{data.tag}}</td>
                            </tr>
                            <tr class="table-light d-flex justify-content-center">
                                <th class="col-5 col-sm-3 col-md-2">Chapters</th>
                                <td class="col-5 col-sm-3 col-md-2">{{data.latest_chapter}}</td>
                            </tr>
                            <tr class="table-light d-flex justify-content-center">
                                <th class="col-5 col-sm-3 col-md-2">Publisher</th>
                                <td class="col-5 col-sm-3 col-md-2">{{data.publisher}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </main>
        </div>


        <footer class="mt-auto text-white-50">
            <p>Novel metadata for <a class="text-white">{{data.name}}</a></p>
            <p>by <a href="https://github.com/blacksmithop" target="_blank" class="text-white">@blacksmithop</a></p>
        </footer>
    </div>



</body>

</html>